.header {
    height: 40px;
    width: 100%;
    background: #6577e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__controls {
    display: flex;
    padding: 0 5px 0 5px;
}

.header__controls > * {
    margin-right: 5px;
}

.header__controls > *:last-child {
    margin-right: 0px;
}

.header__element {
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    background: #7787e4;
    padding: 0 5px 0 5px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: background 200ms ease;
    text-align: center;
}

.header__element:hover {
    background: #8597FD;
}

.donation__icon {
    padding: 4px 0 4px 0;
    height: 100%;
}