.header {
    height: 45px;
    width: 100%;
    background: #6577e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7px;
}

.header > div {
    margin-right: 5px;
}

.header > div:last-child {
    margin-right: 0px;
}

.header__controls {
    display: flex;
}

.header__controls > * {
    margin-right: 5px;
}

.header__controls > *:last-child {
    margin-right: 0px;
}

.header__element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    border-radius: 5px;
    background: #7787e4;
    padding: 0px 7px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 200ms ease;
    text-align: center;
}

.header__element:hover {
    background: #8597FD;
}

.donation__icon {
    padding: 4px 0 4px 0;
    height: 100%;
}

.menu__background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #807f7f52;
    left: 0;
    top: 45px;
}

.menu {
    position: fixed;
    top: 40px;
    padding: 7px;
    background: #6577e2;
}

.menu__header {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.menu__link-list {
    display: flex;
    flex-direction: column;
}

.menu__link-list > a {
    margin-bottom: 5px;
}

.menu__link-list > a:last-child {
    margin-bottom: 0px;
}

.menu__link {
    color: white;
    background: #7787e4;
    border-radius: 5px;
    padding: 0 7px;
    line-height: 35px;
    font-size: 16px;
    min-width: 150px;
    text-decoration: none;
    transition: background 200ms ease;
}

.menu__link_selected {
    background: #8597FD
}