.schedule {
    display: flex;
    justify-content: center;
}

.schedule > div {
    margin-right: 10px;
}

.schedule > div:last-child {
    margin-right: 0px;
}

.schedule__week {
    min-width: 300px;
}

.schedule__label {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.schedule__days > div {
    margin-bottom: 10px;
}

.schedule__days > div:last-child {
    margin-bottom: 0px;
}

.day {

}

.day__name {
    padding-left: 7px;
    margin-bottom: 5px;
}

.day__classes > div {
    margin-bottom: 5px;
}

.day__classes > div:last-child {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .schedule > div {
        margin-right: 0px;
    }

    .schedule {
        padding: 10px;
    }

    .schedule_odd {
        flex-direction: column;
    }
    
    .schedule_even {
        flex-direction: column-reverse;
    }
}