<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Документация</title>
</head>
<body>
    <pre>
1)Обновление файлов расписаний:
    ./update
    ?yearString=autumn-2019 - название полугодия

2)Изменение полугодия
    ./changeSeason
    ?yearString=autumn-2019 - название полугодия

3)Получить расписание группы
    ./api/schedule
    ?group=Кумо-01-18 - название группы
    ?current=true - вывести расписание на текущий день

4)Получить расписание преподавателя
    ./api/schedule
    ?teacher="Акимов Д.А." - ФИО преподавателя
    Ошибка:
        1)Иногда нужно изменить полугодие прежде чем получится получить расписание

5)Экспорт .xlsx файла расписания
    ./api/export
    ?teacher=Акимов%20Д.А.,Гурьянова%20Е.О. - ФИО преподавателя(ей). Вводить слитно и через запятую.
    </pre>
</body>
</html>