<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/CSS/feedback.css">
    <link rel="stylesheet" href="./public/CSS/rate.css">
    <script src="JS/jquery.js"></script>
    <script src="/JS/rate.js"></script>
    <script>showFeedback().catch(err => console.log(err))</script>
    <title>Обратная связь</title>
</head>
<body>
    <div class="wrapper">
    </div>
</body>
</html>