<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расписание</title>
    <link rel="stylesheet" href="./public/CSS/login.css">
    <script src="/JS/jquery.js"></script>
    <script src="/JS/login.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="name">Расписание</div>
        <form class="login" action="/schedule" method="GET"> 
            <label for="group">Наименование группы</label>
            <input id="group" type="text" name="group" placeholder="Например, КУМО-01-18">
            <input type="submit" class="submit" value="Найти расписание">
        </form>
    </div>
</body>
</html>