<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Парсинг .xls документа</title>
    <link rel="stylesheet" href="/public/CSS/parser.css">
    
</head>
<body>
    <div class="send-data">Отправить</div>
    <script src="/JS/jquery.js"></script>
    <script src="/JS/parser.js"></script>
</body>
</html>