* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
}

.feedback-wrapper:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.feedback-wrapper:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
    border-bottom: 0px;
}
.feedback-wrapper {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #6577e2;
}

.message {
    background: #8597fd;
    height: fit-content;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 3px solid #5065dd;
    word-wrap: break-word;
}

.timestamp {
    color: white;
    font-size: 14px;
    line-height: 34px;
}

.top-bar>div {
    display: inline-block;
}

.block {
    float: right;
}