.top-toolbar {
    height: 40px;
    background: #6577e2;
}

.top-toolbar>li {
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    background: #7787e4;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    list-style-type: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: background 200ms ease;
    text-align: center;
}

.toolbar-week-number {
    float: left;
}

.quit-button {
    margin-right: 5px;
}

.top-toolbar>li:hover {
    background: #8597fd;
}

.group-name {
    float: left;
}

.quit-button, .feedback-button {
    float: right;
}

.feedback-overlay-background {
    z-index: 1;
    position: fixed;
    top: 40px;
    background: grey;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.feedback-overlay {
    padding: 10px;
}

.feedback-overlay-window {
    opacity: 0;
    z-index: 2;
}

label[for=feedback-message] {
    color: white;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#feedback-message {
    -webkit-appearance: none;
    -moz-appearence: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius:  0px;
    border-bottom-right-radius: 0px;
}

.feedback-text-wrapper {
    width: 100%;
    height: 60px;
}

.feedback-overlay-window {
   width: 300px;
   height: fit-content;
   background: #7787e4;
   border-radius: 5px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -62.5px;
   margin-left: -150px;
}

input[type=submit] {
    -webkit-appearance: none;
    -moz-appearence: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    transition-property: background, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    background: rgb(175, 175, 175);
}

input[type=submit]:hover {
    background: #6577e2;
    color: white;
}

.donations {
    float: right;
}

.donations > img {
    height: 20px;
    padding-top: 5px;
}

.left-menu-background {
    background: grey;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 40px;
    opacity: 0;
    z-index: 1;
}

.left-menu {
    position: fixed;
    left: -170px;
    top: 40px;
    background: #6577e2;
    width: 200px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.settings-background {
    position: fixed;
    top: 40px;
    width: 100vw;
    height: 100vh;
    background: gray;
    opacity: 0;
    z-index: 1;
}

.settings-window {
    position: fixed;
    background: #6577e2;
    top: calc(50vh - 40px);
    left: calc(50vw - 250px);
    width: 500px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 5px;
    opacity: 0;
}

.settings-window > ul {
    /* padding: 5px; */
    list-style-type: none;
}

.settings-window > ul > li {
    height: 40px;
    width: 100%;
    color: white;
    padding-left: 5px;
    border-bottom: 1px solid white;
    line-height: 40px;
    box-sizing: border-box;
    transition: background 200ms ease;
}

.settings-window > ul > li:hover {
    background: #7787e4;
}

.settings-window > ul > li:last-child {
    border-bottom: 0px;
}

.sld-1, .sld-2 {
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.left-menu > ul > li {
    margin: 5px;
    padding-left: 5px;
    line-height: 30px;
    transition-property: background, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    cursor: pointer;
    background: white;
    border-radius: 5px;
}

.left-menu > ul > li:hover {
    background: #8597fd;
    color: white;
}


.left-menu > ul > li:first-child {
    height: 20px;
    line-height: 20px;
    background: #6577e2;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 515px) {
    .settings-window {
        position: fixed;
        background: #6577e2;
        top: calc(45vh - 40px);
        left: calc(50vw - 175px);
        width: 350px;
        margin: 0 auto;
        z-index: 2;
        border-radius: 5px;
        opacity: 0;
    }
}