.schedule {
    display: flex;
    justify-content: center;
}

.schedule > div {
    margin-right: 10px;
}

.schedule > div:last-child {
    margin-right: 0px;
}

.schedule__week {
    min-width: 300px;
}

.schedule__label {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.schedule__days > div {
    margin-bottom: 10px;
}

.schedule__days > div:last-child {
    margin-bottom: 0px;
}

.day {

}

.day__name {
    padding-left: 7px;
    margin-bottom: 5px;
}

.day__classes > div {
    margin-bottom: 5px;
}

.day__classes > div:last-child {
    margin-bottom: 0px;
}

.class {
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    transition: background 200ms ease;
}

.class_style_even {
    background: #6577e2;
}

.class_style_even:hover {
    background: #7787e4
}

.class_style_odd {
    background: #ee8d0f;
}

.class_style_odd:hover {
    background: #FFA734;
}

.class > div {
    margin-bottom: 5px;
}

.class > div:last-child {
    margin-bottom: 0px;
}

.class__row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .schedule > div {
        margin-right: 0px;
    }

    .schedule {
        padding: 10px;
    }

    .schedule_odd {
        flex-direction: column-reverse;
    }
    
    .schedule_even {
        flex-direction: column-reverse;
    }
}