<link rel="stylesheet" href="/public/CSS/rate.css">

<div>
    <div class="rate" id="id0"></div>
    <div class="rate" id="id1"></div>
    <div class="rate" id="id2"></div>
    <div class="rate" id="id3"></div> 
    <div class="rate" id="id4"></div> 
</div>

<script src="JS/jquery.js"></script>
<script src="JS/rate.js"></script>