<link rel="stylesheet" href="./public/CSS/toolbar.css">

<ul class="top-toolbar">
    <li class="group-name"><%= groupName%></li>
    <li class="quit-button">Выход</li>
    <li class="feedback-button">Обратная связь</li>
</ul>