<link rel="stylesheet" href="./public/CSS/toolbar.css">
<link rel="stylesheet" href="./public/CSS/slide-button.css">

<ul class="top-toolbar">
    <li class="group-name"><%= groupName%></li>
    <li class="toolbar-week-number"></li>
    <li class="quit-button">Выход</li>
    <li class="feedback-button">Обратная связь</li>
    <li class="donations">
        <img src="../../public/IMG/spinnig_coin.gif">
    </li>
</ul>

<script src="../../JS/jquery.js"></script>
<script src="../../JS/jquery.animate-colors-min.js"></script>
<script src="../../JS/slide-button.js"></script>
<script src="../../JS/toolbar.js"></script>